body{
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	background-color: #fbf8ff;
}

header{
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-image: url("background.svg");
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: contain;
}

header h1{
	position: fixed;
	width: 100%;
	top: 7.5%;
	overflow: visible;
	margin: 0;
	z-index: 1;
}

img{
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

a{
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border-bottom 200ms ease-in-out;
}

a:hover{
	border-bottom: 1px solid;
}

nav{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: #3f3d56;
	border-radius: 10px;
	overflow: visible;
}

@media (orientation: portrait){
	nav{
		flex-direction: column;
		position: auto;
		padding: 3%;
	}

	button:first-child{
		margin-bottom: 3%;
	}

	button:last-child{
		margin-top: 3%;
	}
} 

@media (orientation: landscape){
	nav{
		position: sticky;
		top: 0;
	}

	button{
		width: 30%;
	}
}

button{
	border: 0px;
	border-radius: 10px;
	background-color: #fbf8ff;
	color: #6c63ff;
	transition: color 0.5s;
}

button:hover{
	/*transform: scale(1.1);*/
	color: #3f3d56;
}
.chapter{
	overflow: hidden;
	transition: height 1s ease;
	/*background-color: grey;*/
}



#main{
	background-color: #fbf8ff;
	z-index: 3;
	min-height: 100vh;
}
